$colors: (
  pr-orange: hsl(26, 100%, 55%),
  pr-pale-orange: hsl(25, 100%, 94%),
  nt-very-dark-blue: hsl(220, 13%, 13%),
  nt-dark-grayish-blue: hsl(219, 9%, 45%),
  nt-grayish-blue: hsl(220, 14%, 75%),
  nt-light-grayish-blue: hsl(223, 64%, 98%),
  nt-white: hsl(0, 0%, 100%),
  nt-black-lightbox: hsla(0, 0%, 0%, 0.75),
  nt-black: hsl(0, 0%, 0%),
);
